<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Connection" value="PasswordManagerDiskDb"/>
	</appSettings>

	<connectionStrings>
		<add name="PasswordManagerMemDb"
			 providerName="Microsoft.EntityFrameworkCore.Sqlite"
			 connectionString="PasswordManagermemdb;mode=memory;cache=shared"/>
		<add name="PasswordManagerDiskDb"
			 providerName="Microsoft.EntityFrameworkCore.Sqlite"
			 connectionString="~/.PasswordManager/data/db.sqlite"/>
	</connectionStrings>
</configuration>
